* {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: #2c3149
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #9699a5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9699a5;
}

::-webkit-resizer {
  width: 4px;
  height: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

.main {
  max-width: 1920px;
  max-height: 1366px;
  height: 100vh;
  display: grid;
  grid-template-columns: 332px 1fr;

  &__left-side {
    position: relative;
    min-height: 890px;
    background: url("img/left-side-bg.png") no-repeat center center / cover;
  }

  &__article {
    position: relative;
    height: 100%;
  }

  &__block-header {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
    box-shadow: 0 0 10px rgba(48, 54, 80, 0.2);
    background-color: #ffffff;

    &__text {
      margin-left: 121px;
      color: #10b1df;
      font-family: 'Roboto', serif;
      font-size: 24px;
      font-weight: 900;

      &-reg {
        color: #10b1df;
        font-family: 'Roboto', serif;
        font-size: 24px;
        font-weight: 900;
        margin-left: 290px;
      }

      &__add-contact {
        color: #10b1df;
        font-family: 'Roboto', serif;
        font-size: 24px;
        font-weight: 900;
        margin-left: 48px;
      }
    }
  }
}

.ls {
  &__inner-wrapper {
    max-height: 1080px;
    width: 100%;
  }

  &__title {
    padding: 17px 50px 65px 50px;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-weight: 900;
    font-size: 32px;
    margin: 0;
  }

  &-inner {

    &__account {
      margin: 0 55px 55px 55px;
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &__photo {
        margin-right: 13px;
        border-radius: 50%;
        width: 48px;
        height: 48px;

        &__choose {
          width: 48px;
          height: 48px;
          opacity: 0;
          outline: none;
          top: 0;
          position: absolute;
          cursor: pointer;
        }

        &__fake {
          top: 0;
          position: absolute;
          width: 48px;
          height: 48px;
          background: url("./img/addContactImg.png") no-repeat center center / cover;
        }
      }

      &__name {
        &-text {
          margin: 0;
          color: #ffffff;
          font-family: 'Roboto', serif;
          font-size: 16px;
          font-weight: 400;
        }

        &-logOut-button {
          margin-top: 5px;
          color: #8992ca;
          font-family: 'Roboto', serif;
          font-size: 12px;
          font-weight: 400;
        }
      }

      &__option {
        position: absolute;
        right: 0;
        top: 2px;
        width: 15px;
        height: 25px;
        cursor: pointer;
        background: url("img/dots-img.png") no-repeat center center;
      }
    }

    &__search-menu {
      margin: 0 55px;
      padding-bottom: 6px;
      position: relative;
      border-bottom: 1px solid #9699a5;

      &-icon {
        position: absolute;
        top: 4px;
        left: 0;
        width: 14px;
        height: 14px;
        background: url("./img/search_icon.png") no-repeat center center / cover;
        cursor: pointer;
        outline: none;
      }

      &-input {
        padding-left: 20px;
        color: white;
        height: 20px;
        outline: none;
        border: none;
        -webkit-appearance: none;
        background-color: #2e334c00;
        font-family: Roboto, serif;
        font-size: 14px;
        font-weight: 400;

        &::-webkit-search-cancel-button,
        &::placeholder {
          padding-left: 35px;
          color: #9699a5;
          font-family: Roboto, serif;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    &__categories {
      cursor: pointer;
      margin-top: 32px;

      &__wrapper {
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 145px;
        height: 100%;

      }

      &__header {
        margin: 0 55px 17px 55px;
        color: #8992ca;
        font-family: 'Roboto', serif;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.4px;
      }

      &__contacts {
        position: relative;

        &-wrapper {
          z-index: 0;
          position: relative;
        }

        &:hover {
          background-image: linear-gradient(to right, #7e8eda 0%, rgba(255, 255, 255, 0.13) 100%);
          border-left: 3px solid #02bbf1;
        }

        &__header {
          margin: 0;
          padding: 0 55px;
          color: #ffffff;
          font-family: 'Roboto', serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 48px;

          &::first-letter{
            text-transform: uppercase;
          }
        }

        &__option {
          outline: none;
          position: absolute;
          right: 61px;
          top: 12px;
          width: 15px;
          height: 25px;
          cursor: pointer;
          background: url("img/dots-img.png") no-repeat center center;
        }
      }
    }

    &__birthday-reminder {
      max-height: 281px;
      min-height: 162px;

      &-items {
        padding: 0 55px;

        &__bornInfo {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
        }

        &__name {
          color: #ffffff;
          font-family: Roboto, serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        &__wrapper {
          overflow-x: hidden;
          overflow-y: scroll;
          max-height: 187px;
          height: 100%;
        }

        &__date {
          color: #ffffff;
          font-family: Roboto, serif;
          font-size: 10px;
          font-weight: 400;
          line-height: 24px;
        }

        &__age {
          margin-top: 7px;
          margin-bottom: 16px;
          opacity: 0.5;
          color: #ffffff;
          font-family: 'Roboto', serif;
          font-size: 10px;
          font-weight: 400;
          line-height: 14px;
        }
      }
    }

    &__add-group {
      margin: 5px 50px 35px 50px;
      width: 222px;

      &__text {
        margin: 0;
        color: #ffffff;
        font-family: 'Roboto', serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.35px;
      }

      &__button {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        top: 4px;
        width: 23px;
        height: 23px;
        border: 1px solid white;
        border-radius: 50%;
        outline: none;

        &-center-img {
          position: relative;
          top: 1px;
        }
      }

      &__wrapper {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        border-top: 1px solid #9699a5;
        padding-top: 17px;
        cursor: pointer;

        &:hover .ls-inner__add-group__button {
          background: #00b3e4;
        }
      }

    }

    &__add-contact {
      position: relative;
      margin: 25px 55px;
      width: 222px;

      &__text {
        margin: 0;
        color: #ffffff;
        font-family: 'Roboto', serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.35px;
      }

      &__button {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        top: 4px;
        width: 23px;
        height: 23px;
        border: 1px solid white;
        border-radius: 50%;
        outline: none;

        &-center-img {
          position: relative;
          top: 1px;
        }
      }

      &__wrapper {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        border-top: 1px solid #9699a5;
        padding-top: 17px;
        cursor: pointer;

        &:hover .ls-inner__add-contact__button {
          background: #00b3e4;
        }
      }

    }
  }

  &__content-wrapper {
    position: relative;
    max-height: 960px;
  }
}

.login {
  &-nav-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 222px;
  }

  &-form-styles {
    width: 222px;
    padding-top: 1px;
    margin-bottom: 9px;
    font-family: 'Roboto', serif;
    font-size: 13px;

    &::placeholder {
      font-size: 13px;
    }
  }

  &-form__wrapper {
    padding: 0 50px;
  }

  &-links {
    display: flex;
    flex-flow: column nowrap;
  }

  &-forgot-pass {
    font-family: 'Roboto', serif;
    font-size: 14px;
    text-decoration: none;
    color: white;

    &:visited {
      color: white;
    }

    &:hover {
      color: #4267b2;
    }
  }

  &-registration {
    margin-bottom: 5px;
    text-decoration: none;
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: white;

    &:visited {
      color: white;
    }

    &:hover {
      color: #4267b2;
    }
  }

  &-button {
    background-color: #4267b2;
    white-space: nowrap;
    padding: 7px 10px;
    font-family: 'Roboto', serif;
    color: white;
    font-size: 13px;

    &:active {
      transform: translateY(1px);
      filter: saturate(150%);
    }

    &:hover {
      color: #4267b2;
      border-color: currentColor;
      background-color: white;
    }
  }
}

.reg-form-submit:focus,
.reg-form-submit:active {
  outline: none;
}

.registration {
  &-main {
    width: 371px;
    margin-top: 29px;
    margin-left: 290px;
  }

  &-email {
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-start;
    align-items: flex-start;
  }

  &-text {
    width: 371px;
    height: 32px;
    box-shadow: inset 0 0 10px #e5e5e5;
    border: 1px solid #999999;
    background-color: #ffffff;
    padding: 3px;
  }

  &-fullName {
    width: 371px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &-name-field {
    width: 176px;
    height: 32px;
    box-shadow: inset 0 0 10px #e5e5e5;
    border: 1px solid #999999;
    background-color: #ffffff;
    padding: 3px;
  }

  &-confirm-button {
    width: 172px;
    height: 46px;
    border-radius: 56px;
    background-color: #10b1df;
    color: white;
    font-family: "Roboto - Black", serif;
    font-size: 18px;
    font-weight: 900;

    &:active {
      transform: translateY(1px);
      filter: saturate(150%);
      border: 1px solid red;
    }

    &:hover {
      color: #4267b2;
      border-color: currentColor;
    }

    &:focus {
      color: #4267b2;
      outline: none;
      border: 1px solid #1C29B2;
    }
  }

  &-close-button {
    position: relative;
    right: 50px;
    outline: none;
    border: 0;
    width: 35px;
    height: 32px;
    background: url("img/cancel.png") no-repeat center center / cover;
  }
}

#wrong-email {
  display: none;
}

.text-tooltip {
  margin: 10px 0 8px 0;
  color: #c8c8c8;
  font-family: 'Roboto', serif;
  font-size: 12px;
  font-weight: 400;
}

.confirm-button {
  margin-top: 16px;
  letter-spacing: 1px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.edit-contact {
  position: relative;
  margin: 24px 0 0 121px;

  &__close {
    position: absolute;
    right: 326px;
    top: 13px;
    width: 23px;
    height: 23px;
    background-color: #10b1df;
    border-radius: 50%;
    cursor: pointer;
  }

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 150px 371px 51px;
    grid-column-gap: 20px;
  }

  &__img {
    width: 150px;
    height: 150px;
    opacity: 0;
    cursor: pointer;
  }

  &__header {
    padding-top: 40px;
    text-align: right;
    color: #22282d;
    font-family: 'Roboto', serif;
    font-size: 18px;
    font-weight: 700;
  }

  &__tooltip {
    margin: 16px 0 7px 0;
    color: #c8c8c8;
    font-family: 'Roboto', serif;
    font-size: 12px;
    font-weight: 400;
  }

  &__fields {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__initials {
      width: 371px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      &-text {
        padding-left: 10px;
        width: 176px;
        height: 32px;
        box-shadow: inset 0 0 10px #e5e5e5;
        border: 1px solid #999999;
        background-color: #ffffff;
      }
    }
  }

  &__field {
    display: flex;
    flex-flow: column nowrap;

    &-text {
      width: 371px;
      height: 32px;
      box-shadow: inset 0 0 10px #e5e5e5;
      border: 1px solid #999999;
      background-color: #ffffff;
      color: #22282d;
      font-family: 'Roboto', serif;
      font-size: 16px;
      font-weight: 400;
      padding-left: 10px;

      &-desc {
        padding-left: 10px;
        width: 371px;
        height: 54px;
        resize: none;
      }

      &-info {
        padding-left: 10px;
        width: 371px;
        height: 183px;
        resize: none;
      }
    }
  }

  &__incorrect {
    padding-top: 47px;
    color: #d0021b;
    font-family: 'Roboto', serif;
    font-size: 12px;
    font-weight: 400;
  }

  &__button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 46px;
    margin: 46px 0 51px 0;

    &-line {
      margin-left: 19px;
      width: 490px;
      height: 0;
      border: 1px solid #9699a5;
    }

    &-save {
      margin: 0 19px 0 30px;
      padding: 17px 39px 18px 39px;
      border-radius: 56px;
      background-color: #10b1df;
      color: #ffffff;
      font-family: 'Roboto', serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.35px;

      &:focus {
        border: 1px solid #4267b2;
        outline: none;
      }
    }

    &-delete {
      padding: 17px 39px 18px 39px;
      border-radius: 56px;
      border: 2px solid #00b3e4;
      color: #10b1df;
      font-family: 'Roboto', serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.35px;

      &:focus {
        border: 1px solid #4267b2;
        outline: none;
      }
    }
  }
}

.input-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  background: url("img/file.png") no-repeat center center / cover;
}

.add-contact {
  padding: 56px 48px 0 48px;

  &__inner-wrapper {
    display: inline-block;
    max-width: 983px;
    width: 100%;
  }

  &__initials {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    &__photo {
      min-width: 150px;
      margin-right: 32px;
      position: relative;

      &__choose {
        width: 150px;
        height: 150px;
        opacity: 0;
        outline: none;
        top: 0;
        position: absolute;
        cursor: pointer;
      }

      &__fake {
        top: 0;
        position: absolute;
        width: 150px;
        height: 150px;
        background: url("./img/addContactImg.png") no-repeat center center / cover;
      }
    }

    &__desc {
      max-width: 829px;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;

      &__full-name {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        max-width: 829px;
        width: 100%;

        &__wrapper {
          max-width: 395px;
          width: 100%;
          display: flex;
          flex-flow: column nowrap;

          &:first-child {
            margin-right: 40px;
          }
        }

        &__text {
          padding-left: 5px;
          margin-top: 8px;
          max-width: 395px;
          width: 100%;
          height: 32px;
          box-shadow: inset 0 0 10px #e5e5e5;
          border-radius: 2px;
          border: 1px solid #999999;
          background-color: #ffffff;

          &:first-child {
            margin-right: 40px;
          }
        }
      }

      &__textarea {
        padding-left: 5px;
        resize: none;
        max-width: 829px;
        width: 100%;
        height: 54px;
        box-shadow: inset 0 0 10px #e5e5e5;
        border-radius: 2px;
        border: 1px solid #999999;
        background-color: #ffffff;
        margin-top: 8px;

        &__wrapper {
          margin: 16px 0 48px 0;
          max-width: 829px;
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
        }
      }
    }

  }

  &__block {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 16px;

    &__header {
      padding-top: 7px;
      min-width: 150px;
      text-align: right;
      margin-right: 32px;
    }

    &__text {
      max-width: 829px;
      width: 100%;

      &__input {
        padding-left: 5px;
        max-width: 829px;
        width: 100%;
        height: 32px;
        box-shadow: inset 0 0 10px #e5e5e5;
        border-radius: 2px;
        border: 1px solid #999999;
        background-color: #ffffff;
      }
    }

    &__textarea {
      padding-left: 5px;
      max-width: 829px;
      width: 100%;
      height: 104px;
      resize: none;
      box-shadow: inset 0 0 10px #e5e5e5;
      border-radius: 2px;
      border: 1px solid #999999;
      background-color: #ffffff;
    }
  }

  &__tooltip {
    &__h2 {
      text-transform: capitalize;
      margin: 0;
      color: #000000;
      font-family: 'Roboto', serif;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(68px, 580px) 182px 182px);
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
    margin-right: 48px;
    position: absolute;
    bottom: 46px;

    &__line {
      height: 0;
      border: 1px solid #9699a5;
    }

    &__save {
      position: relative;
      width: 182px;
      height: 46px;
      border-radius: 56px;
      background-color: #10b1df;
      color: #ffffff;
      font-family: 'Roboto', serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.35px;
      margin-right: 32px;
    }

    &__cancel {
      width: 182px;
      height: 46px;
      border-radius: 56px;
      border: 2px solid #00b3e4;
      color: #10b1df;
      font-family: 'Roboto', serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.35px;
    }

    &__text {
      margin: 0;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.all-contacts {
  margin: 32px 48px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 223px);
  grid-column-gap: 40px;
  grid-row-gap: 64px;

  &__items {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 50px;

    &-photo {
      margin-right: 13px;
      width: 48px;
      height: 48px;
      border: 2px solid #c30e42;
      border-radius: 50%;
    }

    &-desc {
      display: flex;
      flex-flow: column nowrap;

      &__name {
        margin-bottom: 3px;
        color: #000000;
        font-family: 'Roboto', serif;
        font-size: 16px;
        font-weight: 400;
      }

      &__text {
        color: #9b9b9b;
        font-family: 'Roboto', serif;
        font-size: 12px;
        font-weight: 400;
      }
    }

    &-options {
      position: absolute;
      top: 10px;
      right: -10px;
      width: 40px;
      height: 30px;
      background: url("./img/dots-img.png") no-repeat center center;
      outline: none;

      &__menu {
        z-index: 1;
        position: absolute;
        right: -152px;
        top: 33px;
        width: 175px;
        box-shadow: 0 0 10px rgba(48, 54, 80, 0.2);
        border-radius: 5px;
        background-color: #2c314a;
        cursor: pointer;

        &-addToGroup {
          position: absolute;
          z-index: 1;
          top: 149px;
          right: -178px;
          width: 175px;
          box-shadow: 0 0 10px rgba(48, 54, 80, 0.2);
          border-radius: 5px;
          background-color: #2c314a;
          cursor: pointer;
        }

        &-items {
          padding: 0 8px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          color: #ffffff;
          font-family: 'Roboto', serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 26px;
          border-bottom: 1px solid #ffffff;

          &:first-child {
            border-top: 1px solid #2c314a;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          &:last-child {
            border-bottom: 1px solid #2c314a;
            border-radius: 5px;
          }

          &-p {
            margin: 0;
          }

          &:hover {
            background: #41465c;
          }
        }
      }
    }
  }
}

.contact-info {
  margin: 24px 121px 58px 121px;

  &__header {
    margin-bottom: 46px;
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &-photo {
      margin-right: 19px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: url("./img/addContactImg.png") no-repeat center center / cover;
    }

    &-desc {
      &__initials {
        &-h1 {
          color: #000000;
          font-family: 'Roboto', serif;
          font-size: 24px;
          font-weight: 900;
        }
      }

      &__information {
        &-text {
          color: #1f2226;
          margin: 4px 0;
          font-family: 'Roboto', serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
  }

  &__items {
    margin-bottom: 31px;
    display: flex;
    flex-flow: row nowrap;

    &-header {
      margin-right: 20px;
      color: #22282d;
      font-family: 'Roboto', serif;
      font-size: 18px;
      font-weight: 700;
      min-width: 150px;

      &-h2 {
        margin: 0;
        text-align: right;
        font-family: 'Roboto', serif;
        font-size: 18px;
        font-weight: 700;
      }
    }

    &-value {
      color: #22282d;
      font-family: 'Roboto', serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      &__img {
        margin-right: 5px;
      }

      &-textarea {
        margin: 0;
        max-width: 602px;
        width: 100%;
      }

      &-p {
        margin: 0;
      }

      &__h3 {
        color: #3bb9e3;
        font-family: 'Helvetica Neue', serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.1px;
        margin: 0;
      }

      &__insta-photos {
        margin-top: 8px;
        width: 260px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 83px);
        grid-gap: 5px;

        &__inner {
          height: 83px;
          border-radius: 4px;
          background-color: #d0d5d9;
        }
      }

      &__wrapper {
        display: flex;
        flex-flow: column nowrap;
      }

      &__header {
        display: flex;
        flex-flow: row nowrap;
      }
    }
  }
}

.create-group {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 48px;

  &__close-button {
    position: relative;
    left: 40px;
    outline: none;
    border: 0;
    width: 35px;
    height: 35px;
    background: url("img/cancel.png") no-repeat center center / cover;
  }

  &__header {
    &-h1 {
      font-family: 'Roboto', serif;
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__value {
    margin-bottom: 8px;
    padding-left: 5px;
    margin-top: 8px;
    max-width: 395px;
    width: 100%;
    height: 32px;
    box-shadow: inset 0 0 10px #e5e5e5;
    border-radius: 2px;
    border: 1px solid #999999;
    text-transform: capitalize;
  }

  &__confirm {
    margin-top: 12px;
    width: 123px;
    height: 33px;
    border-radius: 56px;
    background-color: #10b1df;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.35px;
  }

  &__result {
    display: none;
  }
}

.drop {
  &-down {
    z-index: 1;
    position: absolute;
    right: 5px;
    top: 12px;
    width: 75px;
    box-shadow: 0 0 10px rgba(48, 54, 80, 0.2);
    border-radius: 5px;
    background-color: #2c314a;
    cursor: pointer;

    &__items {
      text-align: center;
      padding: 0 8px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      color: #ffffff;
      font-family: 'Roboto', serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      border-radius: 5px;

      &-p {
        width: 100%;
        text-align: center;
        margin: 0;
      }
    }
  }
}

.mode {
  width: 200px;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 50px;
  color: #ffffff;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  &-header {
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
  }

  &-online {
    margin-bottom: 8px;
  }

  &-offline {
    margin-bottom: 8px;
  }

  &-choose-button {
    width: 60px;
    background-color: #ffffff;
    white-space: nowrap;
    padding: 7px 10px;
    font-family: 'Roboto', serif;
    color: #4267b2;
    font-size: 13px;

    &:active {
      transform: translateY(1px);
      filter: saturate(150%);
    }

    &:hover {
      color: #4267b2;
      border-color: currentColor;
      background-color: white;
    }
  }
}

.wrong-info {
  border-color: red;
  &::placeholder {
    color: red;
  }
}

.wrong-text {
  color: red;
  font-family: 'Roboto', serif;
  font-size: 12px;
  font-weight: 900;
}

.good-text {
  color: green;
  font-family: 'Roboto', serif;
  font-size: 12px;
  font-weight: 900;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.star-field {
  text-align: right;;
  font-family: 'Roboto', serif;
  font-size: 16px;
  font-weight: 900;
  margin-top: 48px;

}

@media screen and (max-width: 1366px) {
  .add-contact {
    padding: 64px 24px 0 24px;

    &__initials__photo {
      margin-right: 16px;
      min-width: 106px;

      &__fake {
        height: 106px;
        width: 106px;
      }

      &__choose {
        height: 106px;
        width: 106px;
      }
    }

    &__block {
      &__header {
        margin-right: 16px;
        min-width: 106px;
      }
    }

    &__buttons {
      margin-right: 24px;
      margin-left: 24px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .add-contact {
    &__block {
      &__header {
        margin-right: 30px;
      }
    }
  }

  .ls-inner__birthday-reminder-items__wrapper{
    max-height: 170px;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    &__block {
      &-header__text-reg {
        margin-left: 150px;
      }
    }
  }

  .registration {
    &-main {
      margin-left: 150px;
    }
  }

  .add-contact {
    padding: 64px 24px 0 24px;

    &__initials__photo {
      margin-right: 35px;
      min-width: 106px;

      &__fake {
        height: 106px;
        width: 106px;
      }

      &__choose {
        height: 106px;
        width: 106px;
      }
    }

    &__block {
      &__header {
        margin-right: 35px;
        width: 106px;
      }
    }

    &__buttons {
      margin-left: 24px;
      &__line {
        width: 210px;
      }
    }
  }

  .contact-info {
    margin: 24px 24px 58px 24px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 292px 1fr;

    &__block-header__text-reg {
      margin-left: 48px;
    }
  }

  .login-form__wrapper {
    padding: 0 30px 0 40px;
  }

  .login-nav-menu {
    margin: 0;
  }

  .ls {
    &__title {
      padding: 15px 30px 52px 40px;
    }

    &-inner {
      &__add-contact {
        margin: 0 30px 0 40px;
      }

      &__account {
        margin: 0 30px 55px 40px;
      }
    }
  }

  .registration {
    &-main {
      margin-left: 48px;
    }
  }

  .contact-info {
    &__items-header {
      min-width: 111px;
    }
  }

  .add-contact {
    padding-top: 48px;

    &__initials__desc__full-name {
      flex-flow: column nowrap;
    }

    &__tooltip {
      margin-top: 16px;
    }

    &__initials__desc__textarea__wrapper {
      margin-top: 0;
    }

    &__block__header {
      margin-right: 16px;
    }

    &__initials__photo {
      margin-top: 16px;
      margin-right: 15px;
    }

    &__initials__desc__textarea__wrapper {
      margin-bottom: 32px;
    }

    &__buttons {
      &__save {
        margin-right: 16px;
        width: 160px;
      }

      &__cancel {
        width: 160px;
      }

      &__line {
        margin-right: 24px;
        width: 68px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    grid-template-columns: 1fr;

    &__article {
      display: none;
    }

    &__block-header {
      justify-content: center;

      &__text__add-contact {
        margin-left: 0;
      }
    }

  }

  .ls {
    &-inner {
      margin-top: 15px;

      &__birthday-reminder-items {
        padding: 0 26px 0 24px;
      }

      &__birthday-reminder-items__wrapper {
        margin-top: 10px;
      }

      &__account {
        margin: 0 26px 29px 24px;
      }

      &__search-menu {
        margin: 0 26px 0 24px;
      }

      &__categories {
        &__header {
          margin: 0 26px 0 24px;
        }

        &__contacts__header {
          padding: 0 26px 0 24px;
        }

        &__contacts__option {
          right: 26px;
        }
      }

      &__add-group {
        margin: 0 26px 25px 24px;
        width: auto;
      }

      &__add-contact {
        padding: 0 26px 0 24px;
        width: 100%;
        margin: 0;
      }
    }

    &__content-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: start;
    }

    &__title {
      text-align: center;
    }
  }

  .add-contact {
    display: grid;
    grid-row-gap: 16px;
    grid-template-rows: 370px 53px 53px 53px 129px 53px 53px;

    &__initials {
      display: grid;
      grid-template-rows: repeat(auto-fill, 132px 222px);
      grid-row-gap: 16px;

      &__photo {
        display: grid;
        justify-content: center;
        grid-template-columns: 132px;
        align-items: center;
        margin: 0;

        &__fake {
          width: 132px;
          height: 132px;
          position: relative;
        }

        &__choose {
          left: 26%;
          width: 132px;
          height: 132px;
          position: absolute;
        }
      }

      &__desc {
        display: grid;
        grid-template-rows: repeat(auto-fill, 125px 79px);
        grid-row-gap: 16px;

        &__textarea__wrapper {
          margin: 0;
        }

        &__full-name {
          display: grid;
          grid-row-gap: 16px;
          grid-template-columns: 1fr;
          grid-template-rows: 53px 53px;

          &__wrapper {
            margin: 0;
            width: 100%;
            max-width: 720px;
          }

          &__text {
            width: 100%;
            max-width: 720px;
          }
        }
      }
    }

    &__block {
      display: block;
      margin: 0;

      &__header {
        margin-bottom: 8px;
        margin-top: 8px;
        padding-top: 0;
        text-align: left;
      }
    }

    &__tooltip {
      margin-top: 0;
    }

    &__buttons {
      padding: 45px 24px;
      margin: 48px 0;
      bottom: 0;
      display: grid;
      position: relative;
      justify-content: center;
      align-items: center;
      grid-template-columns: minmax(280px, 327px);
      grid-template-rows: 46px 46px;
      grid-row-gap: 16px;

      &__save {
        width: 100%;
        max-width: 327px;
        min-width: 280px;
      }

      &__cancel {
        width: 100%;
        max-width: 327px;
        min-width: 280px;
      }

      &__line {
        display: none;
      }
    }
  }

  .login-form__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .registration-main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 26px 26px 0 24px;
    margin: 0;
  }

  .registration-fullName {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    width: 100%;
  }

  #registration-name {
    margin-right: 5px;
  }

  .form-wrapper {
    width: 100%;
  }

  .registration-text {
    width: 100%;
  }

  .registration-name-field {
    width: 100%;
  }

  .main__block-header__text-reg {
    text-align: center;
    margin-left: 0;
  }

  .create-group {
    padding: 0 24px;
    margin: 0;
  }

  .contact-info {
    display: grid;
    grid-template-rows: 255px;
    grid-row-gap: 16px;

    &__header {
      margin-bottom: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 150px 105px;
      justify-content: center;
      align-items: center;

      &-photo__wrapper {
        display: grid;
        justify-content: center;
        grid-template-rows: 150px;
        grid-template-columns: 150px;
      }

      &-desc__information {
        text-align: center;
      }

      &-desc__initials {
        text-align: center;
      }
    }

    &__items {
      margin: 0;
      display: grid;

      &-header {
        &-h2 {
          margin-bottom: 8px;
          text-align: left;
        }
      }
    }
  }

  .all-contacts__items {
    flex-flow: row wrap;
  }

  .all-contacts__items-options__menu {
    top: 57px;
    width: 123px;
    right: 100px;
  }

  .all-contacts__items-options__menu-addToGroup {
    position: relative;
    top: 9px;
    right: -135px;
    width: 104px;
  }

  .all-contacts__items-options__menu-items-img {
    transform: rotate(270deg);
  }

  .star-field {
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .create-group {
    &__close-button {
      left: 24px;
    }
  }
}